{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": { "electron": "21.3.3" },
        "useBuiltIns": false,
        "debug": false
      }
    ]
  ],
  "plugins": []
}
